<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toyota</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Toyota</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/insertCar">Insert Cars</a></li>
            <li><a href="/newCars">New Cars</a></li>
            <li><a href="/usedCars">Used Cars</a></li>
            <li><a href="/auctionCars">Auction Cars</a></li>
            <li class="active"><a href="/junkCars">Junk Cars</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  <h2>Junk Cars</h2>
  <p>Here are the cars in the database:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>VIN</th>
        <th>Classification</th>
        <th>Year</th>
        <th>Model</th>
        <th>Edition</th>
        <th>Color</th>
        <th>Accessories</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<cars.length; i++) {%>
        <tr>
           <td><%= cars[i].vin %></td>
           <td><%= cars[i].classification %></td>
           <td><%= cars[i].year %></td>
           <td><%= cars[i].model %></td>
           <td><%= cars[i].type %></td>
           <td><%= cars[i].color %></td>
           <td><%= cars[i].accessories %></td>
           <td><form method="post" action="/removeJunkCar/<%=cars[i].vin%>" id="insertForm" class = "insertForm"><input type="submit" value="Remove"></td>
        </tr>
        <% } %>
    </tbody>
  </table>

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
