<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toyota</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Toyota</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/cars">Cars</a></li>
            <li class="active"><a href="/viewMaintenance">Maintenance</a></li>
            <li><a href="/viewOwners">Owners</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div class="container">
    <h2><Strong>Sold Car Maintenance</Strong></h2>
    <hr>
    <% if (message.length > 0 && flag == "bad") { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <% if (message.length > 0 && flag == "good") { %>
      <div class="alert alert-success"><%= message %></div>
    <% } %>
    <form method="post" action="/addMaintenance" id="maintenanceForm" class = "maintenanceForm">
      <fieldset>
        <h4>Insert Maintenance Record:</h4>
        VIN
        <input type="text" name="vin" value=<%= vin %>>
        Date:
        <input type="date" id="theDate" name="Date">
        Details:
        <input type="text" name="Details" value="">
        <input class="btn" type="submit" value="Submit">
        <h2></h2>   
      </fieldset>
    </form>             
    <table class="table table-hover">
      <thead>
        <tr>
          <th>VIN</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<records.length; i++) {%>
          <tr>
             <td><%= records[i].vin %></td>
             <td><%= records[i].date.toUTCString().substring(0, 16) %></td>
             <td><%= records[i].description %></td>
             <td><form method="post" action="/removeMaintenance/<%= records[i].id%>" id="insertForm" class = "insertForm"><input class="btn btn-default btn-sm btn-danger" type="submit" value="Remove"></form></td>
          </tr>
          <% } %>
      </tbody>
    </table>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script> 
    document.getElementById("theDate").defaultValue = new Date().toISOString().substring(0, 10);
  </script>
</body>
</html>
