<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toyota</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Toyota</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/orders">Orders</a></li>
          <li class="active"><a href="/cars">Cars</a></li>
          <li><a href="/viewMaintenance">Maintenance</a></li>
          <li><a href="/viewOwners">Owners</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h1>More Information about Vehicle</h1>
      <p><%= cars[0].model %> <%= cars[0].type %></p>
      <p>VIN: <%= cars[0].vin %></p>
    </div>
  </div>
  <div class="container"> 
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %> 
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-8">
        <p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Classification</th>
                <th>Delivery Date</th>
                <th>Year</th>
                <th>Engine Specifications</th>
                <th>Transmission Type</th>
                <th>Audio System</th>
                <th>Mileage (City/Highway)</th>
                <th>Accessories</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<cars.length; i++) {%>
                <tr>
                   <td><%= cars[i].classification %></td>
                   <td><%= cars[i].delivery_date.toUTCString().substring(0, 16) %></td>
                   <td><%= cars[i].year %></td>
                   <td><%= cars[i].engine_specs %></td>
                   <td><%= cars[i].transmission_type %></td>
                   <td><%= cars[i].audio_system %></td>
                   <td><%= cars[i].mileage %></td>
                   <td><%= cars[i].accessories %></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h2>Options</h2>
        <% if(cars[0].classification == "Sold") {%>
          <td><form method="post" action="/viewOwners/<%=cars[0].vin%>" id="insertForm" class = "insertForm"><input class="btn btn-primary btn-sm" type="submit" value="View Owner Information"></form></td>
          <br>
          <td><form method="post" action="/viewMaintenance/<%=cars[0].vin%>" id="insertForm" class = "insertForm"><input class="btn btn-primary btn-sm" type="submit" value="View Maintenance Records"></form></td>
          <br>
        <% } %>
        <td><form method="post" action="/removeCar/<%=cars[0].vin%>/<%=cars[0].classification%>" id="insertForm" class = "insertForm"><input class="btn btn-default btn-sm btn-danger" type="submit" value="Remove"></form></td>
      </div>
    </div>
    <form method="post" action="/addOwner/<%= cars[0].vin%>" id="ownerForm" class = "ownerForm">
      <fieldset>
        <legend>Insert Owner Record:</legend>
        First Name:
        <input type="text" name="firstName" value="">
        Last Name:
        <input type="text" name="lastName" value="">
        <br>
        <br>
        Email:
        <input type="text" name="email" value="">
        Phone Number:
        <input type="text" name="phoneNumber" value="">
        <br>
        <br>
        <% if(cars[0].classification == "Sold") {%>
          <input class="btn btn-primary" type="submit" value="Insert">
        <% } %>
        <% if(cars[0].classification != "Sold"){%>
          <input class="btn btn-primary" type="submit" value="Mark as Sold">
        <% } %>
        
        <h2></h2>   
      </fieldset>
    </form> 
  </div> <!-- /container -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
