<!-- views/table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Toyota</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/cars.css">
  
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Toyota</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="/orders">Orders</a></li>
            <li><a href="/cars">Cars</a></li>
            <li><a href="/viewMaintenance">Maintenance</a></li>
            <li><a href="/viewOwners">Owners</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
  <div class="masthead">
    <nav>
      <ul class="nav nav-justified">
        <li><a href="/placeOrder">Place Order</a></li>
        <li class="active"><a href="/orders">All Orders</a></li>
        <li><a href="/onOrder">On Order</a></li>
        <li><a href="/backOrder">Back Order</a></li>
        <li><a href="/recentlyDelivered">Recently Delivered</a></li>
      </ul>
    </nav>
  </div>
  <h2></h2>     
  <form method="post" action="/orders" id="searchForm" class = "searchForm">
    <fieldset>
      <legend>Search:</legend>
      VIN
      <input type="text" name="VIN" value="">
      Status:
      <select id="Classification" name="Classification">
        <option value=""></option>
        <option value="On Order">On Order</option>
        <option value="Back Order">Back Order</option>
        <option value="Recently Delivered">Recently Delivered</option>
      </select>
      Year:
      <input type="number" name="Year" min="1980" max="2017">
      Model:
      <select name="Model" id="Model" onLoad="modelChange2()" onChange="modelChange2()">
        <option value=""></option>
        <option value="Avalon">Avalon</option>
        <option value="Camry">Camry</option>
        <option value="Corolla">Corolla</option>
        <option value="Prius">Prius</option>
        <option value="Prius c">Prius c</option>
        <option value="Prius v">Prius v</option>
        <option value="Yaris">Yaris</option>
      </select>
      Edition:
      <select name="Type" id="Type">
        <option value=""></option>
      </select>
      Accessories
      <input type="text" name="Accessories" value="">
      <input class="btn" type="submit" value="Search">   
    </fieldset>
  </form>    
  <h2></h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>VIN</th>
        <th>Status</th>
        <th>Year</th>
        <th>Model</th>
        <th>Edition</th>
        <th>Color</th>
        <th>Accessories</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<cars.length; i++) {%>
        <tr>
          <td><%= cars[i].vin %></td>
          <td><%= cars[i].classification %></td>
          <td><%= cars[i].year %></td>
          <td><%= cars[i].model %></td>
          <td><%= cars[i].type %></td>
          <td><%= cars[i].color %></td>
          <td><%= cars[i].accessories %></td>
          <td><form method="post" action="/removeCar/<%=cars[i].vin%>/<%=cars[i].classification%>" id="insertForm" class = "insertForm"><input class="btn btn-default btn-sm btn-danger" type="submit" value="Remove"></form></td>
           <td><form method="get" action="/moreInfo/<%=cars[i].vin%>" id="insertForm" class = "insertForm"><input class="btn btn-default btn-sm" type="submit" value="Show More"></form></td>
        </tr>
      <% } %>
    </tbody>
  </table>

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="scripts/scripts.js"></script>
</body>
</html>
